* {
  font-family: "Roboto", sans-serf;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

nav {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3.5rem;
  background-color: #cac5dbf1;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

nav h1 {
  color: #4756df;
}

nav a {
  color: #4756df;
  transition: 0.3s;
  text-decoration: none;
}
nav a:hover {
  color: #ff7235;
  border-bottom: 2px solid #ff7235;
}

nav ul {
  display: flex;
  gap: 1.9rem;
  list-style-type: none;
}

nav ul li {
  font-weight: 700;
}

.hero {
  background-image: url("./images/hero.jpg");
  height: 100px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero h1 {
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 18px;
}

.about {
  float: right;
  width: 65%;
  margin: 30px;
  background-color: rgb(128, 148, 185);
  line-height: 2;
  text-align: center;
  padding: 50px;
  word-wrap: break-word;
}

.about-me {
  position: absolute;
  margin: 15px 200px;
}

/*
.projects {
  float: right;

}

.my-projects {
  float: left;
  border-right: 5px solid black;
}

.projects img {
  width: 200px;
  height: 60px;
}

.footer {
  float: left;
  border-right: 5px solid black;
} */

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

/* @media screen and (max-width: 570px) {
  .about-me {
    position: absolute;
    margin: 15px 200px;
  }
} */
