* {
  font-family: "Roboto", sans-serf;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

header {
  padding: 2px;
  text-align: center;
  color: white;
}

nav {
  display: flex;
  background-color: #222c38;
  justify-content: space-between;
  align-items: center;

}

nav li {
  float: left;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #111;
}

main {
  display: flex;
  flex-wrap: wrap;
}

.hero {
  background-image: url("./images/hero.jpg");
  height: 100px;
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 2px;
}

.hero h1 {
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 18px;
  color: rgb(131, 19, 146);
  background-color: black;
  padding: 5px;
}

.about-me {
  flex: 1;
  border-right: 2px solid black;
  padding: 20px;
}

.about {
  flex: 3;
  background-color: #fff;
  padding: 20px;
}

.projects {
  flex: 3;
  background-color: #fff;
  padding: 20px;
}

.my-projects {
  flex: 1;
  background-color: #b9c6ae;
  padding: 20px;
}

img {
  width: 200px;
}

@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
  }

  .about-me {
    flex: 1;
    border-bottom: 2px solid black;
    border-right: none;
    padding: 20px;
  }
}
