* {
  font-family: "Roboto", sans-serf;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

/* body {
    background-color:slategrey
} */

header {
  padding: 2px;
  text-align: center;
  color: white;
}

nav {
  display: flex;
  background-color: #222c38;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

nav li {
  float: left;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #111;
}

nav img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.hero {
  background-image: url("./images/hero.jpg");
  height: 100px;
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 2px;
  margin: 2px;
}

.hero h1 {
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 18px;
  color: rgb(131, 19, 146);
  background-color: black;
  align-items: center;
  padding: 5px;
  margin: 0 35px;
}

.container-1 {
  display: flex;
  align-items: center;
}

.container-1 section {
  padding: 10px;
  margin: 10px;
}

.about-me {
  flex: 1;
  border-right: 2px solid #ccc;
}

.about {
  flex: 3;
}



.container-2 {
  display: flex;
  align-items: center;
}

.container-2 section {
  padding: 10px;
  margin: 10px;
}

.container-2 img {
  width: 200px;
}

.my-projects {
  flex: 1;
  border-right: 2px solid #ccc;
}

.projects {
  flex: 3;
}

.container-3 {
  display: flex;
  align-items: center;
}

.container-3 section {
  padding: 10px;
  margin: 10px;
}

.container-3 ul {
    list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container-3 li {
    float: left;
}

.contact-me {
  flex: 1;
  border-right: 2px solid #ccc;
}

.contact {
  flex: 3;
}






@media screen and (max-width: 768px) {
  nav {
    flex-direction: column;
  }
}

@media screen and (max-width: 393) {
  nav {
    flex-direction: column;
  }
}
